%h3.page-title
  合并请求
  %span.pull-right #{@merge_requests.total_count} 请求


%p.light
  Only merge requests created by you or assigned to you are listed here.
%hr
.row
  .span3
    = render 'shared/filter', entity: 'merge_request'
  .span9
    = render 'shared/merge_requests'
