%h3.page-title
  Deploy key:
  = @key.title
  %small
    创建于
    = @key.created_at.stamp("2013-01-01 14:00:00")
.back-link
  = link_to project_deploy_keys_path(@project) do
    &larr; 返回 keys 列表
%hr
%pre= @key.key
.pull-right
  = link_to '删除', project_deploy_key_path(@project, @key), confirm: '你确定吗?', method: :delete, class: "btn-remove btn delete-key"
