%h3.page-title
  项目: #{@project.name_with_namespace}
  = link_to edit_project_path(@project), class: "btn pull-right" do
    %i.icon-edit
    修改
%hr
.row
  .span6
    .ui-box
      .title
        项目信息:
      %ul.well-list
        %li
          %span.light Name:
          %strong
            = link_to @project.name, project_path(@project)
        %li
          %span.light Namespace:
          %strong
            - if @project.namespace
              = link_to @project.namespace.human_name, [:admin, @project.group || @project.owner]
            - else
              Global
        %li
          %span.light 所有者:
          %strong
            - if @project.owner
              = link_to @project.owner_name, admin_user_path(@project.owner)
            - else
              (删除)

        %li
          %span.light 创建者:
          %strong
            = @project.creator.try(:name) || '(deleted)'

        %li
          %span.light 创建于:
          %strong
            = @project.created_at.stamp("March 1, 1999")

        %li
          %span.light http:
          %strong
            = link_to @project.http_url_to_repo
        %li
          %span.light ssh:
          %strong
            = link_to @project.ssh_url_to_repo
        - if @project.repository.exists?
          %li
            %span.light fs:
            %strong
              = @repository.path_to_repo

          %li
            %span.light 是后提交:
            %strong
              = last_commit(@project)
        - else
          %li
            %span.light repository:
            %strong.cred
              不存在

        %li
          %span.light 权限:
          %strong
            - if @project.public
              %span.cblue
                %i.icon-share
                公开(Public)
            - else
              %span.cgreen
                %i.icon-lock
                私有(Private)
  .span6
    - if @group
      .ui-box
        .title
          %strong #{@group.name}
          用户组成员 (#{@group.users_groups.count})
          .pull-right
            = link_to admin_group_path(@group), class: 'btn btn-small' do
              %i.icon-edit
        %ul.well-list
          - @group.users_groups.order('group_access DESC').each do |member|
            = render 'users_groups/users_group', member: member, show_controls: false

    .ui-box
      .title
        项目成员
        %small
          (#{@project.users.count})
        .pull-right
          = link_to project_team_index_path(@project), class: "btn btn-tiny" do
            %i.icon-edit
            管理权限
      %ul.well-list.team_members
        - @project.users_projects.each do |users_project|
          - user = users_project.user
          %li.users_project
            %strong
              = link_to user.name, admin_user_path(user)
            .pull-right
              - if users_project.owner?
                %span.light 所有者
              - else
                %span.light= users_project.human_access
                = link_to project_team_member_path(@project, user), confirm: remove_from_project_team_message(@project, user), method: :delete, remote: true, class: "btn btn-small btn-remove" do
                  %i.icon-remove
